{% extends "mblog/base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="content_bg">
	<div class="row">
		<div class="col v2 center">
			<h1>Login</h1>
			{% if not request.user.is_authenticated %}
			<form action="{{ request.get_full_path }}" method="post">
				{% csrf_token %}
				<p>Username: <input type="text" name="username" /></p>
				<p>Password: <input type="password" name="password" /></p>
				<input type="submit" value="login" />
			</form>
			{% else %}
				<p>You're logged in!</p>
				<button>
					<a href="{% url 'mblog:logout' %}">Log out</a>
				</button>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
